.opening-page {
  background-color: #3f5843;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.opening-page .div {
  background-color: #3f5843;
  width: 100%;
  height: 100%;
}

.opening-page .frame {
  display: inline-flex;
  flex-direction: column;
  height: 400px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.opening-page .image {
  position: relative;
  width: 1280px;
  height: 380px;
  /* object-fit: cover; */
}

.opening-page .text-wrapper {
  position: absolute;
  top: 330px;
  left: 390px;
  width: 593px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.btn-model-click {
  position: absolute;
  top: 21px;
  left: 179px;
  width: 593px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #3F5843;
  border-color: #3f5843;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.opening-page .group {
  position: absolute;
  width: 515px;
  top: 400px;
  left: 370px;
}

.opening-page .overlap {
  position: relative;
}

.opening-page .rectangle {
  position: absolute;
  width: 515px;
  height: 250px;
  top: 19px;
  left: 0;
  background-color: #3f5843;
  border-radius: 15px;
}

.opening-page .overlap-group-wrapper {
  /* position: absolute;
  /* width: 422px; */
  /* height: 50px; */
  /* top: 0;
  left: 60px; */ 
  /* position: absolute; */
  width: 68px;
  top: 19px;
  left: 191px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #3f5843;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.opening-page .overlap-group {
  position: relative;
  width: 420px;
  height: 68px;
  left: 59px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 64px #0000000d;
}

.opening-page .text-wrapper-2 {
  position: absolute;
  width: 68px;
  top: 19px;
  left: 180px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #3f5843;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.opening-page .group-2 {
  position: absolute;
  width: 424px;
  top: 80px;
  left: 58px;
}

.opening-page .div-wrapper {
  position: absolute;
  width: 420px;
  height: 68px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 64px #0000000d;
}

.opening-page .text-wrapper-3 {
  position: absolute;
  width: 95px;
  top: 19px;
  left: 176px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #3f5843;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.opening-page .text-wrapper-4 {
  position: absolute;
  width: 95px;
  top: 140px;
  left: 174px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #3f5843;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

body {
  background-color: #3F5843;
  font-family: Arial, sans-serif;
}

table {
  margin-left: 6%;
  border-collapse: collapse;
  width: 90%;
  /* margin: 1 auto; */
  color: #3f5843;
  font-weight: 700;
  background-color: #d9d9d9;
  border: 1px solid #ddd;
  border-radius: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

th {
  text-align: center;
  background-color: #f2f2f2;
}

tr:nth-child(odd) td {
  text-align: center;
  background-color: #D9D9D9;
  /* White for odd rows */
}

tr:nth-child(even) td {
  text-align: center;
  background-color: #B8C2B9;
  /* #F7F6FE for even rows */
}

select {
  text-align: center;
  width: 100%;
  color: #3f5843;
}

.add-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5.5%;
}

/* input[type="number"] {
  text-align: center;
}

input[type="number"]::placeholder {
  color: #999;
} */

.add-button button {
  background-color: #d9d9d9;
  color: #3F5843;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-button button:hover {
  background-color: #2D402E;
}

h1,
h2 {
  text-align: center;
  color: #D9D9D9;
  font-weight: 700;
  font-size: 250%;
  margin-top: 10px;
  padding-bottom: 2%;
  margin-left: 7%;
}

.submit-button {
  text-align: center;
  margin-top: 20px;
  margin-left: 6%;
  margin-bottom: 2%;
}

.submit-button button {
  background-color: #d9d9d9;
  color: #3F5843;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  /* margin-left: 46%; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}



.submit-button button:hover {
  background-color: #2D402E;
}

.delete-icon,
.clear-icon {
  cursor: pointer;
  margin: 0 5px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;

  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* overflow: auto; Enable scroll if needed */
  background-color: #8C998E;
  /* Fallback color */
  background-color:rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #3F5843;
  margin: auto;
  border-radius: 4%;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 90%;
  overflow: auto;
}

/* The Close Button */
.close {
  color: #3F5843;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* CSS */
.button-4 {
  appearance: none;
  background-color: #3f5843;
  border-color: #3f5843;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  /* box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset; */
  box-sizing: border-box;
  color: #d9d9d9;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  list-style: none;
  top: -693px;
  left: -105px;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.secondModalPage button {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.secondModalPage button{
  margin-top: 2%;
  background-color: #d9d9d9;
  color: #3F5843;
  font-weight: 700;
}

#chart {
  width: 10%; 
  margin-bottom: 10px;
}