body {
  /* margin: 0%;
  padding: 0%; */
  background-color: #3F5843;
}


  .signup-form {
    border-radius: 10px;
    /* box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05); */
    background-color: #F0F0F0;
    /* display: flex; */
    flex-direction: column;
    width: 30%;
    margin-right: 18%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 10%;
    padding: 10px 15px 50px;
  }


  .title {
    color: #3F5843;
    font-weight: 700;
    font-size: 31px;
    padding: 20px;
    margin-top: 5%;
    font-family: Poppins, sans-serif;
  }

  .form-group {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .form-group label {
    color: #3f3f3f;
    font-weight: 700;
    max-width: 493px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    padding: 10px;
  }

  .input-field {
    color: white;
    align-self: auto;
    text-wrap: nowrap;
    border-radius: 6px;
    border: 0.6px solid #282828;
    background-color: #fff;
    flex-grow: 1;
    padding: 20px 5px;
    font-weight: 300;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    max-width: 100%; 
    width: 96.5%; 
    margin-left: 5px;
    margin-right: 5px;
  }

  /* @media (max-width: 991px) {
    .input-field {
      text-wrap: initial;
      max-width: 100%;
      padding-left: 0px;
    }
  } */

  .btn-register {
    text-wrap: nowrap;
    border-radius: 6px;
    flex-grow: 1;
    padding: 20px 5px;
    font-weight: 1000;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    max-width: 100%;
    width: 50%; /* Adjust the width as needed */
    margin: 4% auto; /* Center the button horizontally */
    background-color: #3F5843;
    color: #3F5843;
}

  /* @media (max-width: 991px) {
    .btn-register {
      text-wrap: initial;
      max-width: 100%;
      padding-left: 0px;
    }
  } */

  .login-text {
    color: #3F5843;
    text-align: center;
    max-width: 310px;
    margin: 25px 0 1 -38px;
    padding-left: 1px;
    font-weight: 600;
    font-size: 16px;
    font-family: Poppins, sans-serif;
  }

  .login-link {
    color: #3F5843;
    font-weight: 600;
    color: rgba(63, 88, 67, 1);
    text-decoration: none;
  }
  .signup-form, .image-section {
    flex: 1;
}

  .image-section {
    /* height:0%; */
    width: auto;
    height: auto;
    margin-left: -15%;
    /* display: flex; */
    /* align-items: center */
    /* justify-content: center; */
}

.image {
    width: auto;
    height: auto;
  }

