/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #3F5843;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row; /* Make the container a flex container with horizontal layout */
  max-width: 800px; /* Adjust the container width as needed */
  margin: 0;
  padding: 20px;
  background-color: #D9D9D9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.form-container {
  flex: 1; /* Make the form container take up available space */
  padding: 20px; /* Add some spacing */
}

h1 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%; /* Expand the input fields to fill the available space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  cursor: pointer;
  display: block;
  padding: 20px;
}

